<div class="container">
  <form>
    <h1 class='isLeft'>TODO List</h1>
    <p class='isLeft'>A place to store the things you love!</p>
    <input type='search' name='filter-input' placeholder="Search..." />

    <ul id='taskUL' *ngFor='let item of todoList; index as i'>
      <li [ngClass]='{goodbyeLine: item.delete}' id='list'>
        {{data}}
        <span >
          {{i+1}}. 
          <button (click)='strikeThru(i)' *ngIf='!item.complete'  class='completeButton' >Complete</button>  
          <p id='taskP' [ngClass]='{lineThru: item.complete}' (click)='reverseStrikeThru(i)'>{{item.task}}</p>
          <button (click)='removeTask(i)'  class='xButton'>X</button>
        </span>

    </ul>

    <input type='text' placeholder="Add your to-do" [(ngModel)]="todoInput" name="todo-input" />

    <button id='addButton' (click)='addTask()'>Add</button>

  </form>
</div>